@model IEnumerable<GoFly.BL.Models.vacationPage.TouristSpots>

<div id="fh5co-tours" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Tourist Spots</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
             <div class="row">
	             <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
		           <div href="#">
				@foreach (var item in Model)
				{
				<img src="~/images/@item.ImagePath" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
				<div class="desc">
					<span></span>
				<h3>@item.TouristSpotsTitel</h3>
				<span>@item.TouristSpotsDescription</span>
				<span class="price">$@item.Prise</span>
				<a class="btn btn-primary btn-outline" href="#">Book Now <i class="icon-arrow-right22"></i></a>
				
			</div>
				}
		</div>
	</div>
</div>
</div>
</div>
