@model GoFly.BL.Models.CarPage.CarRent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>CarRent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarRentId" />
            <div class="form-group">
                <label asp-for="CarRentTitel" class="control-label"></label>
                <input asp-for="CarRentTitel" class="form-control" />
                <span asp-validation-for="CarRentTitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriseDay" class="control-label"></label>
                <input asp-for="PriseDay" class="form-control" />
                <span asp-validation-for="PriseDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriseWeek" class="control-label"></label>
                <input asp-for="PriseWeek" class="form-control" />
                <span asp-validation-for="PriseWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriseMonth" class="control-label"></label>
                <input asp-for="PriseMonth" class="form-control" />
                <span asp-validation-for="PriseMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDleted" /> @Html.DisplayNameFor(model => model.IsDleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class=" btn btn-secondary">Back to List</a>

            </div>
        </form>
    </div>
</div>



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
