@model GoFly.BL.Models.HomePage.HotTour

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Create</h1>

<h4>HotTour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotTourName" class="control-label"></label>
                <input asp-for="HotTourName" class="form-control" />
                <span asp-validation-for="HotTourName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitelDescription" class="control-label"></label>
                <input asp-for="TitelDescription" class="form-control" />
                <span asp-validation-for="TitelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotTourDescription" class="control-label"></label>
                <input asp-for="HotTourDescription" class="form-control" />
                <span asp-validation-for="HotTourDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotTourPrise" class="control-label"></label>
                <input asp-for="HotTourPrise" class="form-control" />
                <span asp-validation-for="HotTourPrise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDleted" /> @Html.DisplayNameFor(model => model.IsDleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class=" btn btn-secondary">Back to List</a>

            </div>
        </form>
    </div>
</div>


@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@